@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<<<<<<< HEAD

@{ ViewBag.Title = "Index";

}



<div class="card shadow">
    <div class="card-header py-3">
        <a href="#" data-toggle="modal" data-target="#modaldialog" onclick="loadData('/RolesAdmin/CreateRol', 'contentdialog')" class="btn btn-sm btn-info float-lg-right">

            <i class="fas fa-plus fa-sm " style="color:black;"></i> Agregar Nuevo
        </a>
        @Html.ActionLink("Administrar Roles a Usuario", "ManageUserRoles",null , new {@class="btn btn-success" })
        <h4 class="h3 mb-0 text-gray-800 text-center">Listado de Roles</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="example">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>

                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" class="btn btn-warning" data-target="#visualEditar" onclick="loadData('/RolesAdmin/EditRole/@item.Id', 'contentedit')">  <Span class='fas fa-edit' ></Span></a>
                            
                            <a href="#" data-toggle="modal" class="btn btn-danger" data-target="#visualEliminar" onclick="loadData('/RolesAdmin/DeleteRol/@item.Id', 'contenteliminar')"><Span class='fas fa-trash' ></Span></a>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
=======
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                <a href="#" data-toggle="modal" data-target="#visualEditar" onclick="loadData('/RolesAdmin/Edit/@item.Id', 'contentedit')">  <Span class='btn btn-warning'> Editar </Span></a>
                <a href="#" data-toggle="modal" data-target="#visualDetalle" onclick="loadData('/RolesAdmin/Details/@item.Id', 'contentdetalle')">  <Span class='btn btn-info'> Detalles </Span></a>
                <a href="#" data-toggle="modal" class='btn btn-danger' data-target="#visualEliminar" onclick="loadData('/RolesAdmin/Delete/@item.Id', 'contenteliminar')">  <Span class='glyphicon glyphicon-th-list'></Span> Eliminar</a>
            </td>
        </tr>
    }

</table>
>>>>>>> 0366b90f880898ebe2dbed61d65db7cc3cb8723b

<div class="modal" id="modaldialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
<<<<<<< HEAD
                <h5 class="modal-title">Crear nuevo</h5>
=======
                <h5 class="modal-title">Agregar carrera nueva</h5>
>>>>>>> 0366b90f880898ebe2dbed61d65db7cc3cb8723b
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contentdialog">
            </div>
        </div>
    </div>
</div>




<div class="modal" id="visualEditar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
<<<<<<< HEAD
                <h5 class="modal-title">Actualizar</h5>
=======
                <h5 class="modal-title">Actualizar carrera</h5>
>>>>>>> 0366b90f880898ebe2dbed61d65db7cc3cb8723b
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contentedit">
            </div>
        </div>
    </div>
</div>

<div class="modal" id="visualDetalle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
<<<<<<< HEAD
                <h5 class="modal-title">Detalles</h5>
=======
                <h5 class="modal-title">Detalles de carrera</h5>
>>>>>>> 0366b90f880898ebe2dbed61d65db7cc3cb8723b
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contentdetalle">
            </div>
        </div>
    </div>
</div>


<div class="modal" id="visualEliminar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="contenteliminar">
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD


=======
>>>>>>> 0366b90f880898ebe2dbed61d65db7cc3cb8723b
