@{
    ViewBag.Title = "ManageUserRoles";
}

@if (@ViewBag.ResultMessage != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>

        </button>
        @ViewBag.ResultMessage
    </div>
}

@if (ViewBag.RolesForThisUser != null)
{
    
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true">&times;</span>

    </button>
    <h3>Roles de este usuario </h3>
    @foreach (string s in ViewBag.RolesForThisUser)
    {
        @s <br />
    }
</div>

}









<div class="panel justify-content-center">
    <div class="card shadow">
        <div class="card-header">
            <h4 class="h3 mb-0 text-gray-800 text-center">Administrar Usuario y Roles</h4>
        </div>
        <div class="card-body">

            <div class="accordion" id="accordionRoles">
                <div class="card">
                    <div class="card-header" id="Titulo_1">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseAsignar" aria-expanded="true" aria-controls="collapseAsignar">
                                Asignar rol a un usuario
                            </button>
                        </h2>
                    </div>

                    <div id="collapseAsignar" class="collapse" aria-labelledby="Titulo_1" data-parent="#accordionRoles">
                        <div class="card-body">
                            @using (Html.BeginForm("RoleAddToUser", "RolesAdmin"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <p>
                                    Usuario : @Html.TextBox("UserName")
                                    Rol: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccionar ...")

                                    <input type="submit" value="Asignar" class="btn btn-success" />
                                </p>


                            }

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="Titulo_2">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseListar" aria-expanded="false" aria-controls="collapseListar">
                                Listar roles de un usuario
                            </button>
                        </h2>
                    </div>
                    <div id="collapseListar" class="collapse" aria-labelledby="titulo_2" data-parent="#accordionRoles">
                        <div class="card-body">
                            @using (Html.BeginForm("GetRoles", "RolesAdmin"))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    Usuario : @Html.TextBox("UserName")
                                    <input type="submit" value="Listar" class="btn btn-warning" />
                                </p>
                            }


                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="Titulo_3">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEliminar" aria-expanded="false" aria-controls="collapseEliminar">
                                Eliminar roles a usuarios
                            </button>
                        </h2>
                    </div>
                    <div id="collapseEliminar" class="collapse" aria-labelledby="headingThree" data-parent="#accordionRoles">
                        <div class="card-body">
                            @using (Html.BeginForm("DeleteRoleForUser", "RolesAdmin"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <p>
                                    Usuario : @Html.TextBox("UserName")
                                    Rol: @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Seleccionar ...")
                                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                                </p>


                            }

                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
















