@model SistemaWeb.Contexto.inportarcion
@{

   

    ViewBag.Title = "Importar";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h2>Excel Import</h2>


        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                Departamento
                <div class="col-md-10">
                    @Html.DropDownList("cod_dpto", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cod_dpto, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                Semestre
                <div class="col-md-10">
                    @Html.DropDownList("tipo_ciclo", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.tipo_ciclo, "", new { @class = "text-danger" })
                </div>

            </div>


            <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
            <script type="text/javascript">

                function Confirm() {
                    var input = $("<input />");

                    input.attr("type", "hidden").attr("name", "confirm_value");
                    if (confirm("Se an encontrado datos del departamento  Desea Eliminar los datos del departamento existente?")) {
                        input.val("Yes");
                    } else {
                        input.val("No");
                    }
                    $("form")[0].appendChild(input[0]);
                }
            </script>
            @if (ViewBag.Message != null)
            {
                <script type="text/javascript">
            $(function () {
              alert("@ViewBag.Message")
            });
                </script>
            }
            <div>
                <input name="file" type="file" required />
                <br />
                <br />

                <input type="submit" value="Import" onclick="Confirm()" />

            </div>


        </form>



    </div>



</body>
</html>
