@{
    /**/

    /* foreach (var H in dt.Rows) foreach (var H in dt.Rows)*/

    /* Forma de prueva acer un for con un ciclo de periodo y para optener todos los periodos en una tabla luego trabajar por colunna de dias con sus ciclos correspondientes  */

    var dt1 = ViewBag.TablaL;
    var dt2 = ViewBag.TablaM;
    var dt3 = ViewBag.TablaMI;
    var dt4 = ViewBag.TablaJ;
    var dt5 = ViewBag.TablaV;
    var todo = ViewBag.TablaTodo;
    var periodo = ViewBag.Tabla1;


    if (ViewBag.displayRole == 0)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.displayRole == 1)
    {
        Layout = "~/Views/Shared/_LayoutManager.cshtml";
    }
    else if (ViewBag.displayRole == 2)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    ViewBag.Title = "Horario";
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<center>
    <h1>Horario de Clase de @todo.Rows[0].ItemArray[0].ToString()</h1>
</center>

<div>
    <a href="/ReporCarrera/PrintAllEmployee"> Inprimir </a>
</div>

<table class="table" border="1">

    <tr>

        <th>
            Hora
        </th>

        <th>
            Lunes
        </th>
        <th>
            Martes
        </th>
        <th>
            Miercoles
        </th>
        <th>
            Jueves
        </th>
        <th>
            Viernes
        </th>

    </tr>


    @{for (int i = 0; i < periodo.Rows.Count; i++)
        {
            //var col1 = @dt.Rows[i].ItemArray[0].ToString();
            //var col2 = @dt.Rows[i].ItemArray[1].ToString();
            //var col3 = @dt.Rows[i].ItemArray[2].ToString();
            //var col4 = @dt.Rows[i].ItemArray[3].ToString();
            //var col5 = @dt.Rows[i].ItemArray[4].ToString();
            //var col6 = @dt.Rows[i].ItemArray[5].ToString();

            // @H[1].ToString()

            <tr>
                <td>

                    @periodo.Rows[i].ItemArray[1].ToString();

                </td>
                <td>
                    @for (int L = 0; L < dt1.Rows.Count; L++)
                    {
                        if (@dt1.Rows[L].ItemArray[4].ToString() == @periodo.Rows[i].ItemArray[1].ToString())
                        {
                            @dt1.Rows[L].ItemArray[0].ToString(); <br />
                            @dt1.Rows[L].ItemArray[1].ToString(); <br />
                            @dt1.Rows[L].ItemArray[2].ToString(); <br />
                            @dt1.Rows[L].ItemArray[3].ToString(); <br />

                            //@dt1.Rows[i].ItemArray[5].ToString();
                        }
                        else
                        {

                        }

                    }


                </td>

                <td>
                    @for (int M = 0; M < dt2.Rows.Count; M++)
                    {
                        if (@dt2.Rows[M].ItemArray[4].ToString() == @periodo.Rows[i].ItemArray[1].ToString())
                        {
                            @dt2.Rows[M].ItemArray[0].ToString(); <br />
                            @dt2.Rows[M].ItemArray[1].ToString(); <br />
                            @dt2.Rows[M].ItemArray[2].ToString(); <br />
                            @dt2.Rows[M].ItemArray[3].ToString(); <br />

                            //@dt1.Rows[i].ItemArray[5].ToString();
                        }
                        else
                        {

                        }

                    }
                </td>

                <td>

                    @for (int MI = 0; MI < dt3.Rows.Count; MI++)
                    {
                        if (@dt3.Rows[MI].ItemArray[4].ToString() == @periodo.Rows[i].ItemArray[1].ToString())
                        {
                            @dt3.Rows[MI].ItemArray[0].ToString(); <br />
                            @dt3.Rows[MI].ItemArray[1].ToString(); <br />
                            @dt3.Rows[MI].ItemArray[2].ToString(); <br />
                            @dt3.Rows[MI].ItemArray[3].ToString(); <br />

                            //@dt1.Rows[i].ItemArray[5].ToString();
                        }
                        else
                        {

                        }

                    }
                </td>

                <td>

                    @for (int J = 0; J < dt4.Rows.Count; J++)
                    {
                        if (@dt4.Rows[J].ItemArray[4].ToString() == @periodo.Rows[i].ItemArray[1].ToString())
                        {
                            @dt4.Rows[J].ItemArray[0].ToString(); <br />
                            @dt4.Rows[J].ItemArray[1].ToString(); <br />
                            @dt4.Rows[J].ItemArray[2].ToString(); <br />
                            @dt4.Rows[J].ItemArray[3].ToString(); <br />

                            //@dt1.Rows[i].ItemArray[5].ToString();
                        }
                        else
                        {

                        }

                    }
                </td>

                <td>


                    @for (int V = 0; V < dt5.Rows.Count; V++)
                    {
                        if (@dt5.Rows[V].ItemArray[4].ToString() == @periodo.Rows[i].ItemArray[1].ToString())
                        {
                            @dt5.Rows[V].ItemArray[0].ToString(); <br />
                            @dt5.Rows[V].ItemArray[1].ToString(); <br />
                            @dt5.Rows[V].ItemArray[2].ToString(); <br />
                            @dt5.Rows[V].ItemArray[3].ToString(); <br />

                            //@dt1.Rows[i].ItemArray[5].ToString();
                        }
                        else
                        {

                        }

                    }
                </td>

            </tr>


        }
    }




</table>




