@model IEnumerable<SistemaWeb.Contexto.anolectivo>
@{



    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  id="anolectivo">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th>
            Activo

        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cod_ano }) |
                @Html.ActionLink("Details", "Details", new { id = item.cod_ano }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cod_ano })
            </td>
        </tr>
    }
</table>

<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
@section Scripts{
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js">
    </script>
    <script>
        $(document).ready(function () {
            $('#anolectivo').DataTable();
        });
    </script>
}
